.main {
  background-color: #f4f5f8;
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 20px;
}
.side {
  flex: 0.3;
}
.work {
  background-color: aliceblue;
  flex: 0.7;
}
.headers {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.search {
  background-color: white;
  border-radius: 20px;
  padding: 10px 5px;
  margin: 10px;
  display: flex;
  align-items: center;
}
